body {
    background-color: black;
    @media (max-width: 640px) {
        background-color: green;
    }
}

.header {

    &__container {
        margin: 0 auto;
        text-align: center;
        align-items: center;
        max-width: 1024px;
        width: 100%;

        h1 {
            padding-top: 10%;
            font-family: 'Roboto', sans-serif;
            color: white;
            font-weight: 900;

        }
    }

    @media (max-width: 640px) {
        &__container {
            font-size: 11px;
            max-width: 80%;
            padding-top: 10%;
        }
        
    }
}